[submodule "deps/Dependencies"]
	path = deps/Dependencies
	url = https://github.com/NullPopPo/Play-Dependencies.git
[submodule "deps/Framework"]
	path = deps/Framework
	url = https://github.com/NullPopPo/Play--Framework.git
[submodule "deps/CodeGen"]
	path = deps/CodeGen
	url = https://github.com/NullPopPo/Play--CodeGen.git
[submodule "deps/Nuanceur"]
	path = deps/Nuanceur
	url = https://github.com/NullPopPo/Nuanceur.git
[submodule "deps/libchdr"]
	path = deps/libchdr
	url = https://github.com/NullPopPo/libchdr.git
